@model Курсач.Models.Colour
<h4>Цвета</h4>
@using (Ajax.BeginForm("SaveColour", "Admin", new AjaxOptions { UpdateTargetId = "results" }, new { @class = "ajax-form" }))
{
<input type="hidden" name="id" value="@(Model == null ? "" : Model.ColourID.ToString())" />
<div>
    <label for="ColourName">Наименование</label>
    <input id="ColourName" name="ColourName" type="text" value="@(Model == null ? "" : Model.ColourName)">
</div>
<div>
    <input type="submit" value="@(Model == null ? "Добавить" : "Сохранить изменения")" class="manage-button" onclick="
    getElementById('modal').style.display = 'none';
    getElementById('lock').style.overflow = 'auto';
    " style="margin-top:5px;" />
    <button type="button"
            onclick="
    getElementById('modal').style.display = 'none';
    getElementById('lock').style.overflow = 'auto';
    ">
        Отмена
    </button>
</div>
}
