
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Администрирование</title>
    <style>
        input, .area {
            border-radius: 2%;
        }

        .content > form {
            margin-top: 40px;
            margin-bottom: 20px;
        }

        #results {
            display: block;
            max-width: 100%;
            overflow: auto;
            text-align: center;
        }

            #results:first-child {
                margin-top: 120px;
                text-align: center;
            }

        #form-content {
            display: grid;
        }
        .ajax-form {
            display: grid;
            grid-gap: 5px 5px;
        }
        .man-but{
            text-align:center !important;
        }
        table {
            margin-top: 12px;
            min-width: 160px;
            margin: 12px auto;
            display: table;
        }


        #modal {
            text-align: center;
            overflow: auto;
            max-width: 100%;
        }
        .overlay {
            background: #000;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1000;
            opacity: .5;
            overflow:auto;
            max-width:100%;
        }
        #modal-window {
            background: #fff;
            position: fixed;
            left: 50%;
            top: 50%;
            margin-top: -200px;
            overflow: auto;
            z-index: 2000;
            width: 500px;
            padding: 0px;
            margin-left: -250px;
            max-height: 500px;
        }
    </style>
    @Scripts.Render("~/scripts/jquery-1.10.2.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-footable/3.0.6/footable.min.js"></script>
    <script>
        jQuery(function () {
            jQuery('.table').footable({
                calculateWidthOverride: function () {
                    return { width: jQuery(window).width() };
                },
                breakpoints: {
                    mobile: 480,
                    tablet: 720,
                    desktop: 1024
                }
            });
        })
    </script>
</head>
<body>
    <h1>Администрирование</h1>
        @using (Ajax.BeginForm("Modering", new AjaxOptions { UpdateTargetId = "results" }))
        {
            <select class="component manage-select" name="selected">
                <option value="brands">Марки автомобилей</option>
                <option value="cars">Автомобили</option>
                <option value="colours">Цвета</option>
                <option value="discounts">Скидки</option>
                <option value="drivers">Водители</option>
                <option value="users">Пользователи</option>
                <option value="orders">Заказы</option>
            </select>
            <button class="component" type="submit">Отобразить</button>
        }
    <div id="results"></div>

    <div id="modal" style="display:none">
        <div class="overlay"></div>

        <div id="modal-window">
            <h3>Форма</h3>
            <div id="form-content">
            </div>
        </div>
    </div>
</body>
