
<div><h1>Главная</h1></div>
@{
    ViewBag.Title = "Заказ Такси \"ComeOn\"";
}
<style>
    blockquote {
        background: #f7f7f7;
        border-left: 1px solid #bbb;
        font-style: italic;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, minmax(300px,600px));
        grid-template-rows: repeat(auto-fit, auto);
        grid-gap: 30px 60px;
    }

        .wrapper:nth-child(4) {
            text-align: right;
        }

    @@media (max-width: 850px) {
        .wrapper {
            grid-template-columns: repeat(1, minmax(300px,700px));
        }
    }
</style>
<div class="wrapper">
    <div><h3>Такси</h3> <p>Общественный транспорт, обычно автомобиль, используемый для перевозки пассажиров в любую указанную точку с оплатой проезда машины по счётчику — таксометру. Иногда цена назначается по договору с водителем.</p></div>
    <div>
        <h3>Ура, товарищи!</h3> <p>
            Наша миссия — постоянно улучшать взаимодействие пассажиров и водителей, помогать людям двигаться к своим целям.
            С @(DateTime.Now.Year - 10) года мы создаем инновационные технологии заказа такси, которые делают услугу более современной, доступной и безопасной. Учитывая специфику города Хабаровска, мы даем пассажирам возможность вызвать такси любым удобным способом, а водителям — оптимизировать процессы поиска и перевозки пассажиров, сократить холостой пробег и простои.
            История компании началась в маленьком дальневосточном городе Хабаровске с небольшой службы такси. Компанию основали молодые студенты из ДВГУПС — специалисты по информационной безопасности и всему прочему.
        </p>
    </div>
    <img src="~/Content/Index.png" />
    <div><p><blockquote><p>Наше такси - самое таксишное такси в мире!</p><cite>Бухгалтер Олеся. Отдел бухгалтерии</cite></blockquote></p></div>
</div>