@{
    ViewBag.Title = "Информация о стоимости услуг";
}
<head>

    <style>
        .wrapper {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            grid-template-rows: repeat(minmax(1,2), 100px);
        }

        .more {
            border-bottom: 2px dotted gray;
        }
    </style>
</head>
<body>
    <h1>Тарификация</h1>
    <div class="wrapper">
        <div class="start">
            <h2>Сводная информация</h2>
            <p>Особенностью нашей компании является <strong>строгая</strong> и <del>хитрая</del> простая схема расчет стоимости заказа</p>
            <p>
                <strong>Фиксированный тариф.</strong> Расчет производится следующим образом:
                Программа автоматически прокладывает оптимальный маршрут на основе Яндекс карт.
                Рассчитывает по этому маршруту расстояние и производит подсчет фиксированной стоимости поездки. Плюс цена за вызов водителя.
                Стоимость поездки не может быть изменена водителем или диспетчером, при условии заказа на ближайшее время!
                Если заказ формируется на определенное время подачи, то стоимость заказа может быть изменена,-
                заказ будет автоматически пересчитан системой!
            </p> <p>
                Помимо прочего, организована скидочная система для авторизованных
                пользователей. Для доп. информации обращайтесь к администратору по <a href="~/Home/Contact" title="Но лучше не надо">контактному номеру телефона или адресу электронной почты</a>
            </p>
            <p>При заказе также особенно рекомендуется указать необходимо ли детское кресло, т.к. закон обязывает усаживать детей до 7 лет в специальные автокресла. Если данная информация не будет указана, то водитель имеет право отменить заказ.</p>
        </div>
        <div class="end">
            <br />
            <br />
            <table class="table">
                <tr>
                    <th>Пункт</th>
                    <th>Стоимость</th>
                </tr>
                <tr>
                    <td>Вызов водителя</td>
                    <td>100 руб.</td>
                </tr>
                <tr>
                    <td>За 1 км.</td>
                    <td>10 руб.</td>
                </tr>
                <tr>
                    <td>Детское кресло</td>
                    <td>50 руб.</td>
                </tr>
                <tr>
                    <td>Заказ на определенное время</td>
                    <td>50 руб.</td>
                </tr>
                <tr>
                    <td title="При количестве промежуточных точек более 2, маршрут строится оптимально в плане наименьшего расстояния"><span class="more">Оптимизировать маршрут</span></td>
                    <td>50 руб.</td>
                </tr>
            </table>
        </div>
    </div>
</body>